<div id='intro'>
  <h1>Board Game Review Condenser</h1>
  <p>Enter a board game and thiss application will grab up to 500 reviews and condense them down for a quick look into your game of choice.</p>
  <p>Note: The name has to match <strong>exactly</strong> to work.</p>
</div>

<div id='form'>
  <%= form_with do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Search" %>
  <% end %>
</div>

<div id='results'>
  <p>Results</p>
  <p><%= @name.keywords %></p>
</div>