<div id='form'>
  <%= form_tag do %>
    <%= label_tag "Search:" %>
    <%= text_field_tag :name %>
    <%= submit_tag "Search (Filter)" %>
    <%= submit_tag "Search (No Filter)" %>
  <% end %>
</div>