<div id='form'>
  <%= form_tag do %>
    <%= text_field_tag :name, '', class: 'formStyle', placeholder: 'Game', autocomplete: 'off' %>
    <div class='buttons'>
      <%= submit_tag "Search (Filter)", class: 'btn' %>
      <%= submit_tag "Search (No Filter)", class: 'btn' %>
    </div>
  <% end %>
</div>

<h3>Results for: <%= @name %></h3>
<div id='results'>
  <% @reviews.keywords.each do |key, value| %>
    <p><%= "#{key}: #{value.round(2)}" %></p>
  <% end %>
</div>