<div id='intro'>
  <h1>Board Game Review Condenser</h1>
  <p>Enter a board game and thiss application will grab up to 500 reviews and condense them down for a quick look into your game of choice.</p>
  <p>Note: The name has to match <strong>exactly</strong> to work.</p>
</div>

<div id='form'>
  <%= form_tag do %>
    <%= label_tag "Search:" %>
    <%= text_field_tag :name %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div id='results'>
  <p>Results</p>
  <p><%= @name.keywords %></p>
</div>