<div id='form'>
  <%= form_tag do %>
    <%= label_tag "Search:" %>
    <%= text_field_tag :name %>
    <%= submit_tag "Search (Filter)" %>
    <%= submit_tag "Search (No Filter)" %>
  <% end %>
</div>

<h3>Results for: <%= @name %></h3>
<div id='results'>
  <% @reviews.keywords.each do |key, value| %>
    <p><%= "#{key}: #{value.round(2)}" %></p>
  <% end %>
</div>