<!DOCTYPE html>
<html>
  <head>
    <title>Board Game Reviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <div id='intro'>
        <h1>Board Game Review Condenser</h1>
        <p>Enter a board game and this application will grab up to 500 reviews and condense them down for a quick look into your game of choice.</p>
        <p class='note'>Note: The name has to match <strong>exactly</strong> to work.</p>
        <p class='note'>(Not case sensitive)</p>
      </div>
      <%= yield %>
      <p class='alert'><%= flash[:alert]%></p>
    </div>
  </body>
</html>
